body {
margin: 0;
padding: 0;
/* background-color: gray; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cell-col-class {
  margin: 0px;
  padding: 2px;
  border: solid 1px darkslateblue;
}

.cell-button {
  margin: 0px;
  padding: 0px;
  width: 175px;
  height: 175px;
  /* border-color: greenyellow; */
  font-size: x-large;
  background-color: blue;
  border-radius: 25px;
}

.board {
  margin: 0;
  padding: 0;
  width: auto;
  border-radius: 25px;
  /* width: 600px;
  height: 600px; */
  /* border: solid 2px darkcyan; */
}

.status-bar {
margin: 2px;
padding: 2px;
border-bottom: solid 2px darkslateblue;
}

.status-message {
  width: auto;
  height: auto;
}

.board-row {
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(37, 145, 145) */
}

.restart-button{
  background-color: green;
}